@import "@styles/abstracts/mixins";

.headerComponentWrap {
  width: 100%;
  height: 50px;
  line-height: unset;
  padding: 0 10px;
  // box-shadow: rgb(217, 217, 217) 0px 4px 8px -4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  top: 0;
  right: 0;
  z-index: 11;
  @include transition;
  .breadcrumbsWrap {
    @include flexStart;
  }
  .rightActionsWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--medium-gap);
    button {
      padding: unset;
      font-size: 17px;
    }
    .actionsWrap {
      @include flexCenter;
      gap: var(--small-gap);
      &.dateWrap {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
        text-align: center;
      }
    }
    .profileWrap {
      @include flexCenter;
      gap: var(--medium-gap);
      img {
        border-radius: 50%;
      }
    }
  }
}
