@import "@styles/abstracts/mixins";

.wrap {
  width: 100%;
  .componentContentWrap {
    position: relative;
    width: 100%;
    color: black;
    z-index: 1;
    @include transition;
    .actionsWrap {
      height: 0;
      width: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      z-index: 3;
      gap: 0;
      @include transition;
      .iconWrap {
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 4px;
        color: white;
        z-index: 2;
        box-shadow: 0 2px 10px #dee1ec;
        background-color: var(--outlineColor);
        background-color: var(--dark-navy);
        border: 1px solid var(--dark-navy);
        padding: 5px;
        @include transition;
        &:hover {
          border-color: white;
          color: white;
          transform: scale(1.2);
          background-color: var(--outlineColor);
          @include transition;
        }
      }
    }
    &.active,
    &:hover {
      outline: 1px solid var(--outlineColor);
      z-index: 2;
      @include transition;
      .actionsWrap {
        height: auto;
        gap: 3px;
        width: auto;
        overflow: auto;
        opacity: 1;
        @include transition;
      }
    }
    &.firstChild {
      .actionsWrap {
        .iconWrap {
          &:first-child {
            display: none;
          }
        }
      }
    }
    &.lastChild {
      .actionsWrap {
        .iconWrap {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}
