@import "@styles/abstracts/mixins";

.websiteBuilderWrap {
  @include appContentHeight;
  .builderLeftWrap {
    height: 100%;
    position: relative;
    .headerWrap {
      height: unset;
      line-height: unset;
      padding: 7px;
      backdrop-filter: blur(20px);
      z-index: 2;
      box-shadow: rgb(217, 217, 217) 1px 1px 8px -4px;
      position: absolute;
      top: 0px;
      border-radius: 4px;
      width: calc(100%);
      left: 0px;
      .headingWrap {
        padding: 0 10px;
        @include flexStartAlC;
        justify-content: flex-start;
        gap: 10px;
        .iconWrap {
          border-radius: 5px;
          padding: 6px;
          min-width: 27px;
          height: 27px;
          @include transition;
          @include flexCenter;
          border: 1px solid;
          cursor: pointer;
          // &.active,
          // &:hover {
          //   color: white !important;
          //   background: var(--secondary-color) !important;
          // }
        }
        span {
          margin: unset;
          font-family: var(--primary-font);
          letter-spacing: 0.2px;
          font-weight: 600;
        }
      }
      .actionsWrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        .iconWrap {
          // background: var(--lightest-slate);
          // color: #000000;
          border-radius: 15px;
          padding: 6px;
          min-width: 32px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 10px 0px;
          @include transition;
          // &.active,
          // &:hover {
          //   color: white !important;
          //   background: var(--secondary-color) !important;
          // }
        }
      }
    }
    .editorContent {
      position: relative;
      width: 100%;
      // box-shadow: rgba(76, 78, 100, 0.22) 0px 2px 10px 0px;
      @include appContentHeight;
      @include flexStart;
    }
  }
  .builderRightWrap {
    @include appContentHeight;
    overflow: auto;
    border-radius: 4px;
    // flex: 0 0 350px !important;
    // max-width: 350px !important;
    // min-width: 350px !important;
    // width: 350px !important;
    .sidebarWrap {
      width: 100%;

      .segmentWrap {
        position: sticky;
        top: 0;
        left: 0;
        backdrop-filter: blur(20px);
        padding-left: 0;
        padding: 4px;
        z-index: 10;
      }
      .sidebarContentWrap {
        // height: calc(100vh - 45px);
        overflow: auto;
        padding: 5px;

        .note {
          font-size: var(--fz-xs);
          letter-spacing: 0.2px;
          margin: 5px 0;
          text-align: center;
        }
      }
    }
  }
}
