.templatePreviewModal {
  .modalClose {
    font-size: 30px;
    padding: 2px;
    border: 1px solid #dee1ecc0;
    border-radius: 50%;
  }
  .templatePreviewContent {
    .cardCoverWrap {
      max-width: 600;
      width: 600;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      .prevButton {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }
      .nextButton {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }
    }
  }
}
