// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "atlantika";
  src: url("/assets/fonts/Atlantika.otf"); // pattern: /directoryName/file.extension
}

@font-face {
  font-family: "bringHeart";
  src: url("/assets/fonts/FontsFree-Net-BringHeart-Regular.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("/assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-regular";
  src: url("/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("/assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "mvboli";
  src: url("/assets/fonts/mvboli.ttf");
}

@font-face {
  font-family: "Mvboli";
  src: local("Mvboli"), url("/assets/fonts/Mvboli.ttf") format("truetype");
}

@font-face {
  font-family: "Blackjack";
  src: local("Blackjack"), url("/assets/fonts/Blackjack.ttf") format("truetype");
}

@font-face {
  font-family: "Domaine";
  src: local("Domaine"), url("/assets/fonts/Domaine.otf") format("truetype");
}

@font-face {
  font-family: "Gothic";
  src: local("Gothic"), url("/assets/fonts/Gothic.ttf") format("truetype");
}

@font-face {
  font-family: "Claredon";
  src: local("Claredon"), url("/assets/fonts/Claredon.ttf") format("truetype");
}

@font-face {
  font-family: "ArgoFlats";
  src: local("ArgoFlats"), url("/assets/fonts/ArgoFlats.ttf") format("truetype");
}

@font-face {
  font-family: "Bakery";
  src: local("Bakery"), url("/assets/fonts/Bakery.ttf") format("truetype");
}

@font-face {
  font-family: "Enchanting";
  src: local("Enchanting"),
    url("/assets/fonts/Enchanting.ttf") format("truetype");
}

@font-face {
  font-family: "Allura";
  src: local("Allura"), url("/assets/fonts/Allura.ttf") format("truetype");
}
@font-face {
  font-family: "Lhandw";
  src: local("Lhandw"), url("/assets/fonts/Lhandw.ttf") format("truetype");
}
@font-face {
  font-family: "Fontspring";
  src: local("Fontspring"),
    url("/assets/fonts/Fontspring.otf") format("truetype");
}
@font-face {
  font-family: "Philosopher";
  src: local("Philosopher"),
    url("/assets/fonts/Philosopher.ttf") format("truetype");
}
@font-face {
  font-family: "Abuget";
  src: local("Abuget"), url("/assets/fonts/Abuget.ttf") format("truetype");
}
@font-face {
  font-family: "AlexisMarie";
  src: local("AlexisMarie"),
    url("/assets/fonts/AlexisMarie.ttf") format("truetype");
}
@font-face {
  font-family: "Antonio";
  src: local("Antonio"), url("/assets/fonts/Antonio.ttf") format("truetype");
}
@font-face {
  font-family: "Manta";
  src: local("Manta"), url("/assets/fonts/Manta.ttf") format("truetype");
}
@font-face {
  font-family: "Wayfarer";
  src: local("Wayfarer"), url("/assets/fonts/Wayfarer.otf") format("truetype");
}
@font-face {
  font-family: "Thunder";
  src: local("Thunder"), url("/assets/fonts/Thunder.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("/assets/fonts/Poppins.ttf") format("truetype");
}
