@import "@styles/abstracts/mixins";

.layoutWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  .mainContentWraper {
    padding: 10px;
    overflow: hidden;
    min-height: calc(100vh - 50px);
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
  }
}
