.stepCard {
  position: relative;
  div {
    white-space: break-spaces;
  }
  .actionButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    z-index: 2;
  }
  .ant-space-item {
    white-space: wrap;
  }
}
