@import "@styles/abstracts/mixins";
.textWrap {
  width: 100%;
  // padding: 5px;
  .textTypes {
    @include flexCenter;
    gap: 7px;
    margin-top: 10px;
    .typeWrap {
      @include flexCenter;
      border-radius: 4px;
      width: 100%;
      padding: 6px;
      gap: 4px;
    }
  }
  .textBodyType {
    gap: 0;
    .typeWrap {
      flex-direction: column;
      padding: 4px;
      .typeButton {
        @include flexCenter;
        height: 75px;
        width: 100%;
        padding: unset;
        &.Header {
          align-items: flex-start !important;
        }
        &.Caption {
          align-items: flex-end !important;
        }
        span {
          padding: unset;
          margin: unset;
          -webkit-margin-end: unset !important;
          margin-inline-end: unset !important;
          width: 60px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .textPatterns {
    margin-bottom: 10px;
    .title {
    }
  }
}
